<header>
  <div class="flex flex-12 nav left">
    <div id="open-close-nav" class="hamburger hamburger--squeeze">
      <div class="hamburger-box">
        <div class="hamburger-inner"></div>
      </div>
    </div>
    <div class="menu flex center">
      <a href="/" class="menu-item zoom" style="margin-top: -80px;">
        <h1>Home</h1>
      </a>
      <a href="/trips" class="menu-item zoom">
        <h1>Trips</h1>
      </a>
      <a href="/projects.html" class="menu-item zoom">
        <h1>Projects</h1>
      </a>
      <a href="/resume.html" class="menu-item zoom">
        <h1>Resume</h1>
      </a>
    </div>
  </div> 
</header>
